<%- include("header")-%>
<h2>This is N P Sooraj, How can I help u!</h2>
<p>cjdvdwjbh jdhcvj ujhvuw hvuurehuhu iuruiuuidv ujgirjvv oirogjobjjighirv hgirg ierigheruigheuvh tigibjtibhruvi</p>
<%- include("footer")-%>
